.button {
  padding: 10px 20px;
  background-color: rgba(187, 30, 30, 1);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 95px;
  height: 40px;
  transition: background-color 0.3s;
  font-family: InterV_Bold;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;

  &:hover {
    background-color: rgb(209, 44, 44);
  }
}

.buttonUser{
  background-color: rgb(30, 132, 187);

  &:hover {
    background-color: rgb(36, 140, 196);
  }
}

.logout{
  background-color: rgba(187, 30, 30, 1);
  text-transform: none;

  &:hover {
    background-color: rgb(209, 44, 44);
  }
}