.sidebar {
  height: 429px;
  width: 63px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  height: 100%;
  border-right: 1px solid #ddd;
}

.categoryButton {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  width: 63px;
  height: 63px;
  border-radius: 5px;
  font-size: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  color: rgba(29, 29, 27, 1);
  opacity: 50%;
  align-items: center;
  justify-content: center;
}

.categoryButton:hover {
  background-color: rgb(223, 45, 45);
  opacity: 80%;
  color: #fff;
}

.active {
  background-color: rgba(255, 255, 255, 1);
  opacity: 100%;
}

.catImg svg {
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease;
}

.activeIcon svg {
  fill: rgba(187, 30, 30, 1);
}

.categoryButton.active {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  color: rgba(187, 30, 30, 1);
  box-shadow: 0px 1px 2px -1px rgba(200, 202, 209, 1);
}
