.newsWidget {
  min-height: 529px;
  min-width: 321px;
  overflow-y: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  box-shadow: 0px 1px 2px -1px rgba(200, 202, 209, 1);
  grid-row: span 2 / span 2;
  padding: 1rem;
  border-radius: 8px;
  margin-left: 1rem;
  margin-top: 1rem;
  max-height: 40%;
  width: 93%;
}

.widgetHeader{
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.newsCard {
  min-width: 281px;
  min-height: 59px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border-bottom: 1px solid #dedddd;
  padding-bottom: 2rem;

  .newsTitle {
    font-size: 16px;
    margin: 0;
    color: rgba(0, 0, 0, 1);
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
    white-space: normal;
  }

  .newsTitle:hover {
    color: rgba(30, 113, 187, 1);
    cursor: pointer;
  }

  .newsTime {
    font-size: 10px;
    color: rgba(30, 113, 187, 1);
  }
}
