.homeContainer{
  display: flex;
  flex-direction: column;
  margin-left: min(175px, 10%);
  margin-right: min(175px, 10%);
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.newsContent {
  display: flex;
  padding: 20px;
  overflow-y: auto;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 18rem 18rem;
  gap: 8px;
  padding: 1rem;
}

.dividerBar{
  width: 100%;
  min-width: 1095px;
  height: 1px;
  border-bottom: 1px solid rgba(151, 151, 151, 1);
  opacity: 10%; 
  align-self: center;
}

