.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.newsContent {
  display: flex;
  padding: 20px;
  overflow-y: auto;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.widget {
  grid-row: span 2 / span 2;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
}

.card:nth-child(3),
.card:nth-child(4) {
  grid-row-start: 2;
}

.card:nth-child(n+6) {
  grid-row-start: auto; // Continue normal flow from here
}