.homeContainer {
  display: flex;
  flex-direction: column;
  margin-left: min(175px, 10%);
  margin-right: min(175px, 10%);
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.newsContent {
  display: flex;
  padding: 20px;
  overflow-y: auto;
}

.newsHeader{
  position: absolute;
  margin-left: 2rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 18rem 18rem;
  gap: 8px;
  padding: 1rem;
}

.dividerBar {
  width: 100%;
  min-width: 1095px;
  height: 1px;
  border-bottom: 1px solid rgba(151, 151, 151, 1);
  opacity: 10%;
  align-self: center;
}

.homeHeader{
  /* Lovepik_com-832643857-Creative tech style gradient line shape vector */

position: absolute;
width: 1440px;
height: 60px;
left: 0px;
top: 0px;



/* Mask */

position: absolute;
width: 1440px;
height: 60px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #BB1E1E 71.29%, #B21919 99.95%);


/* Mask */

position: absolute;
width: 1440px;
height: 60px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #BB1E1E 71.29%, #B21919 99.95%);


/* Object */

position: absolute;
width: 100px;
height: 100px;
left: 0px;
top: 0px;



/* Lovepik_com-832643857-Creative tech style gradient line shape vector */

position: absolute;
width: 1000px;
height: 1000px;
left: 397px;
top: -846px;

background: url(Image.png);
mix-blend-mode: normal;
opacity: 0.1;


/* Lovepik_com-832643857-Creative tech style gradient line shape vector */

position: absolute;
width: 1000px;
height: 1000px;
left: 397px;
top: -846px;

background: url(Image.png);
mix-blend-mode: normal;
opacity: 0.1;


/* Lovepik_com-832643857-Creative tech style gradient line shape vector */

position: absolute;
width: 1000px;
height: 1000px;
left: 397px;
top: -846px;

background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.1;

}