.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 100%;
  max-width: 321px;
  max-height: 252px;
  margin: 10px;

  &:hover {
    transform: translateY(-5px);
  }
}

.image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category {
  font-size: 0.8rem;
  color: #007bff;
  margin-bottom: 5px;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin: 5px 0;
}

.author {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 10px;
}

.link {
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.favoriteImage{
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 35px;
}

.favoriteButton {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

  // &:hover {
  //   color: darkred;
  // }
}
