$primary-color: #282c34;
$hover-color: rgb(217, 58, 58);
$error-color: red;
$overlay-color: rgba(0, 0, 0, 0.6);
$active-tab-color: rgba(187, 30, 30, 1);

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $overlay-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog {
  background: white;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-height: 28rem;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border: none;
  border-bottom: 1px solid #7a1c1c;

  .tab {
    flex: 1;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    color: $primary-color;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    border-bottom: 2px solid transparent;

    &.activeTab {
      background-color: $active-tab-color;
      color: white;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid $primary-color;
    }

    &:hover {
      background-color: $hover-color;
    }
  }
}

.closeButton {
  position: absolute;
  top: 3px;
  right: 3px;
  background: none;
  border: none;
  color: red;
  font-size: 14px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

label {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  padding: 10px 20px;
  background-color: rgba(187, 30, 30, 1);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 95px;
  height: 40px;
  transition: background-color 0.3s;
  align-self: center;
  position: absolute;
  bottom: 1rem;

  &:hover {
    background-color: rgb(209, 44, 44);
  }
}
